$main: #107462;
$main-light: #ff8933;
.gradient-bg,
.modal-body .nws-button button,
.teacher-pic-content .teacher-img-content:after,
.course-details-category li:hover,
.add-cart:after,
.category-icon-title:after,
.gradient-bdr,
.address-icon {
  background: $main !important;
  background-size: 200% auto;
}
.section-title .subtitle:before,
.section-title .subtitle:after {
  color: $main !important;
  text-shadow: 15px 0 $main !important;
}
.breadcrumb-section .breadcrumb-item {
  background-color: $main !important;
}
.nav-menu li a:after {
  background: $main-light !important;
  background-size: 200% auto;
}
.cart-search li {
  border: 2px solid $main !important;
}

.sub-menu:before {
  border-top: 10px solid $main !important;
}
.search-body .search-form .search-close {
  background-color: $main !important;
}
.sub-menu li a:hover {
  color: $main !important ;
}
.header-style-2 .sub-menu li a:hover {
  color: $main !important;
}
#slider-item .genius-btn {
  border: 2px solid $main !important;
}
#slider-item .slider-course-category li:hover {
  color: $main !important;
}
.coming-countdown li {
  border: 2px solid $main !important;
}
.home-secound-course-search .about-list li {
  color: $main !important;
}
.search-course-secound .counter-number p {
  color: $main !important;
}
.search-course-third .counter-icon-number:after {
  background-color: $main !important;
}
.select-lang select,
.nav-menu-4 .login-cart-lang .login a,
.course-meta .course-category,
.latest-events .course-meta .course-author,
.about-teacher-2 .section-title-2 h2 b,
.testimonial-slide .student-name-designation span,
.view-all-btn i,
.teacher-img-content .teacher-category .st-name,
.secound-teacher-section .teacher-img-text .teacher-designation,
.teacher-pic-content .teacher-social-name li,
.teacher-pic-content .teacher-name-designation .teacher-designation,
.teacher-details-text .teacher-deg span,
.best-product-section .price-start span,
.best-sellers-pic-text .b-price,
.panel-group .panel-title .btn-link,
.panel-group .panel-title .btn-link:before,
.panel-group .panel-title .btn-link:after,
.panel-group .panel-title .btn-link:hover,
.version-four .features-icon .feat-tag span,
.blog-details-content .date-meta span,
.blog-details-content .author-comment .author-designation-comment span,
.blog-details-content .next-prev-post i,
.blog-comment-area .author-name-rate span,
.affiliate-market-accordion .panel-group .panel-title .btn-link span,
.course-by b,
.avrg-rating .avrg-rate,
.course-side-bar-widget h3 span,
.course-side-bar-widget h3 span,
.student-number,
.checkbox label .sub-text b,
.terms-text b,
.purchase-list .in-total span,
.footer-menu li i {
  color: $main;
}

.about-us-text .section-title:after,
.about-list li:before,
.testimonial-slide .student-name-designation span:before,
.teacher-img-content .teacher-img:after,
.teacher-desc-social li:hover,
.ui-slider-horizontal .ui-slider-handle,
ul.product-tab li:after,
.panel-group .panel-body:before,
.blog-button ul.product-tab li.active,
.side-bar-widget .tag-clouds li:hover,
.blog-details-content .blog-category li:hover,
.course-page-section .course-type-list span,
.avrg-rating .rating-overview:hover .start-bar,
.section-title-2 h2:after {
  background-color: $main !important;
}

.cart-search li,
#slider-item .genius-bt,
.coming-countdown li,
.secound-teacher-section .teacher-img-text .teacher-social-list li,
.footer-social li,
.subscribe-form li {
  border: 2px solid $main !important;
}

// .text-primary,
// .counter-icon-number,
// .slider-area {
//   color: $main !important;
//   i {
//     // color: $main !important;
//   }
// }

.text-gradiant {
  -webkit-text-fill-color: $main;
}
.section-title {
  .subtitle {
    letter-spacing: 0px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
  }
}

.course-title:after {
  background-color: $main;
}
.service-text {
  p {
    color: $main-light;
  }
}
.owl-dots {
  .owl-dot {
    background-color: $main-light;
  }
}
.owl-nav {
  .owl-prev,
  .owl-next {
    background-color: $main-light;
  }
}
.service-icon {
  .text-gradiant {
    -webkit-text-fill-color: $main-light;
  }
}
// #main-menu {
//   &.menu-bg-overlay {
//     background: #1e1646;
//     box-shadow: 0 1px 5px 1px #444;
//   }
// }
#why-choose-us {
  .subtitle {
    &::after,
    &::before {
      color: $main-light !important;
      text-shadow: 15px 0 $main-light !important;
    }
  }
}
.student-qoute {
  border-color: $main-light !important;
  &::after {
    background-color: $main-light !important;
    color: $main !important;
  }
}
.student-name-designation {
  * {
    color: $main-light !important;
    font-size: 16px !important;
  }
  .st-name {
    &::after {
      background-color: $main-light !important;
    }
  }
}
.widget-title {
  &::after {
    background-color: $main;
  }
}
.contact-address-details {
  border-color: $main-light;
  .address-icon {
    border-image: none !important;
  }
}

#course-teacher {
  // display: none;
  .teacher-img-content {
    background-color: $main;
    box-shadow: 0 0 5px 0 #555;
    .teacher-cntent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .teacher-img-category {
        .teacher-img::after {
          display: none;
        }
      }
    }

    .teacher-img {
      height: 100px;
      width: 100px;
      position: inherit;
      img {
        border-radius: 50%;
        box-shadow: 0 0 5px 0 #555;
      }
    }
    .teacher-social-name {
      max-width: 120px !important;
      ul {
        display: flex;
        justify-content: start;
        align-items: center;
        li {
          background-color: $main-light;
          color: #fff;
          margin-inline-end: 10px;
          &:hover {
            color: $main;
          }
        }
      }
      span {
        color: #fff !important;
      }
    }
  }
  .genius-btn {
    background-color: $main-light !important;
    a,
    i {
      color: #fff;
    }
  }
}

#contact-area {
  i {
    color: #fff !important;
  }
}

#footer-area {
  .footer-logo {
    img {
      max-width: 180px;
    }
  }
}

html[lang="ar"] {
  .teacher-img-content {
    .teacher-img {
      right: inherit;
      // left: -20px;
    }
  }
}
html[lang="ar"] {
  .section-title .subtitle:after {
    left: -55px;
  }
}
